.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-top: 2rem;
}

.empty-with-background {
    display: none;
}

header {
    height: 4rem;
}

.price-card {
    width: 238px;
    height: 459px;
    top: 188px;
    left: 70px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #020c9d;
    box-shadow: 0px 4px 4px 0px #00000099;
    padding: 15px;
    display: grid;
    justify-items: center;
}

.price-card h5 {
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #63C7FF;
}

.price { 
    font-size: 36px;
    font-weight: 800;
    text-align: center;

}

.price span {
    font-size: 16px; 
}

.price-content { 
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.contractor-btn-cont.price-page {
    align-self: flex-end;
    margin-bottom: 25px;
}

.footer-price {
   margin: 0;
}

@media screen and (min-width: 768px) {
    .container-with-background {
        background-image: url("https://i.ibb.co/K66jJkY/fondo.png");
        background-size: contain; 
        background-repeat: no-repeat;
    }
    
    header {
        background: none;
        height: auto;
    }

    main {
        background: none;
        margin: 6.5rem 0;
    }

    .card-container {
        flex-direction: row;
        gap: 2rem;
    }

    .price-card {
        width: 244px;
        background: #00098E;
    }
}

